



  .content { /* Content dari navbar nya */
    max-width: 1250px;
    margin: auto;
    padding: 0px 30px; /* top right bottom left */
  }
  
  .navbar { /* Sebelum scrolling */
    position: fixed; /* biar ga ikutan ngilang sewaktu scroll*/
    z-index: 1;
    width: 100%;
    background: #9CD124;
    padding: 7px 0;
    transition: all 0.3s ease;
  }

  .navbar.sticky { /* Setelah scrolling */
    box-shadow: 0px 0px 11px 0px rgba(0, 0, 0, 0.1);
  }

  .navbar .content {
    display: flex;
    align-items: center;
    justify-content: space-between  ; /* justify-content digunakan untuk mensejajarkan item-item diantara flexbox */
  }

  .navbar .logo a {
    color: rgb(255, 255, 255);
    font-size: 31px;
    font-weight: 600;
    text-decoration: none;
  }

  .notifi-box {
    width: 450px;
    height: 0px;
    opacity: 0;
    position: absolute;
    top: 63px;
    transition: 1s opacity, 250ms height;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    border-radius: 15px;
  }

  .notifi-box h2 {
    font-size: 14px;
    padding: 10px;
    border-bottom: 1px solid #eee;
    color: #999;
  }

  .notifi-box h2 span {
    color: #f00;
  }

  .notifi-item {
    display: flex;
    padding: 15px 5px;
  }

  .notifi-item .text p {
    color: #aaa;
    font-size: 12px;
  }

  .notifi-item .text .btn {
    position: absolute;
    right: 15px;
    border-radius: 13px;
    box-shadow: none;
    padding: 2px 10px;
    cursor: pointer;
    border: none;
    text-align: center;
    background: #9CD124;
    color: white;
  }

  .notifi-item .text .btn:hover {
    background: white;
    color: black;
    font-weight: bold;
  }

  .navbar .menulist, .section-loginsignup, .profile {
    display: inline-flex; /* membuat jadi satu baris */
    margin-left: 25px;
  }

  .navbar .menulist .section-loginsignup .section-login a{
      background-color: black;
      font-weight:bold;
      color: #e0dfdf;
      padding: 5px;
      border-top-left-radius: 11px;
      border-bottom-left-radius: 11px;
  }

  .navbar .menulist .section-loginsignup .section-signup a{
      background-color: white;
      font-weight:bold;
      color:black;
      padding: 5px;
      border-top-right-radius: 11px;
      border-bottom-right-radius: 11px;
  }

  .menulist li {
    list-style: none;
  }
  .menulist li .link {
    color: rgb(255, 255, 255);
    font-size: 15px;
    font-weight: 400;
    padding: 0 15px;
    text-decoration: none;
    transition: all 0.3s ease;
  }
  .menulist li .link:hover {
    color: #000000;
  }
  
  .icon {
    color: rgb(0, 0, 0);
    font-size: 21px;
    cursor: pointer; /* mengubah bentuk kursor ketika diarahkan ke target */
    display: none;
  }
  
  .icon.cancel-btn {
    position: absolute;
    right: 30px;
    top: 9px;
  }

  @media (max-width: 750px) {
  
    .navbar .logo a {
      font-size: 27px;
    }
  
    .icon { 
      display: block;
      height: 50px;
      width: 50px;
      text-align: center;
      line-height: 50px;
      border-radius: 50%;
      z-index: 9;
    }
  
    .icon.cancel-btn { /* tombol silang tidak muncul */
      display: none;
    }
    .icon.cancel-btn.show { /* Agar tombol silang muncul saat navbar diaktifkan */
      display: block;
    }
  
    .icon.hide { /* Agar tombol hilang */
      display: none;
    }
  
    .navbar .menulist {
      position: fixed;
      height: 100vh;
      width: 100%;
      top:0;
      left:0;
      background: #9CD124;
      display: block;
      padding: 40px 0;
      text-align: center;
      clip-path: circle(15px at calc(100% - 55px) calc(0% + 31px));
      transition: all 0.5s ease;
    }

    .navbar .menulist, .section-loginsignup, .profile {
        margin-left: 0;
    }
  
    .navbar.sticky .menulist {
        clip-path: circle(15px at calc(100% - 55px) calc(0% + 31px));
    }
  
    .navbar .menulist.active {
      clip-path: circle(100%);
    }
  
    .navbar .menulist li { /* Menu list di size smartphone */
      padding: 25px 0;
    }
    .navbar .menulist li a { /* Huruf pada tiap menu list di size smartphone */
      font-size: 20px;
    }
  
  }